<article class="cards">
  <h2>What i did</h2>
  <div class="cards__all">
    <a href="/articles/1" class="card">
      <div class="card__img">
        <img src="<%= image_path "pc1.jpg" %>" alt="desktop setup">
        <div class="card__img-overlay"><div></div></div>
      </div>
      <h3 class="card__title">Epic Project</h3>
      <p class="card__description">Collaboratively administrate empowered markets via plug-and-play networks.</p>
    </a>
    <a href="/articles/2" class="card">
      <div class="card__img">
        <img src="<%= image_path "pc2.jpg" %>" alt="laptop on table">
        <div class="card__img-overlay"><div></div></div>
      </div>
      <h3 class="card__title">Another work i did</h3>
      <p class="card__description">Efficiently unleash cross-media information without cross-media value.</p>
    </a>
    <a href="/articles/3" class="card">
      <div class="card__img">
        <img src="<%= image_path "pc3.jpg" %>" alt="mobile on table">
        <div class="card__img-overlay"><div></div></div>
      </div>
      <h3 class="card__title">Rebrand of this company</h3>
      <p class="card__description">Objectively innovate empowered manufactured products.</p>
    </a>
  </div>
</article>
