<header>
  <div class="middle">
    <div class="menu">
      <%= render partial:"partials/hamburger" %>
      <nav>
        <ul class="menu__list">
          <li class="menu__item"><a href="/">Home</a></li>
          <li class="menu__item"><a href="/about">About me</a></li>
          <li class="menu__item"><a href="/#mywork">My work</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
