<section>
  <div class="middle">
    <article class="hero">
      <div class="hero__info">
        <h1 class="hero__title">Jayne Espinosa</h1>
        <p class="hero__description">Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
        <a href="/about" class="button hero__button">learn more</a>
      </div>
      <div class="hero__img">
        <img src="<%= image_path "hero.jpg" %>" alt="girl with cup of tea">
      </div>
    </article>
  </div>
</section>
